.event-list {
  padding: 30px;
}
.event-list h1 {
  margin-bottom: 1.5rem;
  color: #6C63FF;
  font-weight: bolder;
  font-family: cursive;
  font-size: 22px;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

/** EventCard CSS */
.event-card {
  background-color: #FFFFFF;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-left: 5px solid #FF6B6B;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.event-details {
  padding: 1.5rem;
}

.event-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #6C63FF;
}

.event-info {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1rem;
}

.event-description {
  font-size: 0.95rem;
  margin-bottom: 1rem;
}

.event-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-info {
  font-size: 0.9rem;
  color: #4CAF50;
  font-weight: bold;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.btn-primary {
  background-color: #6C63FF;
  color: white;
}

.btn-secondary {
  background-color: #f0f0f0;
  color: #333;
}

.btn-danger {
  background-color: #ff4d4d;
  color: #ffffff;
  margin-right: 10px;
}

.btn:hover {
  transform: scale(1.05);
}

.btn-primary:hover {
  background-color: #5753D9;
}

.btn-secondary:hover {
  background-color: #e0e0e0;
}

.btn-danger:hover {
  background-color: #ff3333;
}

.edit-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
}

textarea.edit-input {
  min-height: 80px;
  resize: vertical;
}

.delete-edit-container{
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .event-card {
    border-left: none;
    border-top: 5px solid #FF6B6B;
  }

  .events-grid {
    grid-template-columns: 1fr;
  }
}