/* Header.css */
.header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Cursive;
  }
  
  .header h1 {
    margin: 0;
    font-size: 1.8rem;
  }
  
  .nav {
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }
  
  .nav a, .nav button {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }
  
  .nav a:hover, .nav button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .sm-links-container {
    display:block;
    padding: 5px 0px 10px 20px;
    font-weight: bold;
  }
  
  @media (min-width: 648px) {
    .menu-icon {
      display: none;
    }
    .sm-links-container{
      display: none;
    }
    .header{
      padding: 20px 35px 20px 35px;
    }
  }